@font-face {
	font-family: primary;
    src: url(Ubuntu-Light.ttf);
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}

.world-sunny {
	background: linear-gradient();
}

.world-rain {
	background: linear-gradient(rgb(108, 154, 182), rgb(39, 170, 225));
}

.world-cloud {
	background: linear-gradient(#b3c1ed, #c8cecd);
}

#sound {
	position: absolute;
}

button {
	font-family: 'primary';
	text-align: center;
	border: none;
	color: white;
	position: absolute;
	border-radius: 8px;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 14px;
    height: 30px;
    width: 80px;

}

button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#refresh {
	bottom: 25px;
	right: 50px;
	background-color: #63a4b2;
}

#button-rain {
	bottom: 25px;
	left: 50px;
}

#button-sunny {
	bottom: 25px;
	left: 180px;
}

#button-snow {
	bottom: 25px;
	left: 310px;
}

#button-cloudy {
	bottom: 25px;
	left: 440px;
}

button:focus {
  outline: none;
}

.selected {
	background-color: #2f726f;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.not-selected {
	background-color: #63a4b2;
}

.location {
	position: absolute;
	left: 50px;
	top: 200px;
	background: rgba(255, 255, 255, 0);
	border-bottom: 4px solid rgba(255, 255, 255, 0.8);
	border-top: none;
	border-left: none;
	width: 450px;
	font-size: 50px;
	color: rgba(255, 255, 255, 0.8);
	border-right: none;
}

#location-input {
	position: absolute;
	left: 50px;
	top: 170px;
	color: rgba(255, 255, 255, 0.8);
	font-size: 20px;
	font-family: 'primary';
}

#location-input:placeholder {
	font-family: 'primary';
}

#temp {
	position: absolute;
	left: 50px;
	top: 290px;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
	font-family: 'primary';
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4)
}

textarea:focus, input:focus{
    outline: none;
}