#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
}

.world-sunny {
	background: linear-gradient();
}

.world-rain {
	background: linear-gradient(rgb(108, 154, 182), rgb(39, 170, 225));
}

.world-cloud {
	background: linear-gradient(#b3c1ed, #c8cecd);
}

#sound {
	position: absolute;
}

#refresh {
	position: absolute;
	border: none;
	color: white;
	bottom: 25px;
	right: 50px;
	background-color: #63a4b2;
}

#button-rain {
	position: absolute;
	border: none;
	color: white;
	bottom: 25px;
	left: 50px;
}

#button-sunny {
	position: absolute;
	border: none;
	color: white;
	bottom: 25px;
	left: 100px;
}

#button-snow {
	position: absolute;
	border: none;
	color: white;
	bottom: 25px;
	left: 160px;
}

#button-cloudy {
	position: absolute;
	border: none;
	color: white;
	bottom: 25px;
	left: 220px;
}

.selected {
	background-color: #2f726f;
}

.not-selected {
	background-color: #63a4b2;
}